MATRIX_HOMESERVER=https://matrix.ryer.org
MATRIX_USER=@sacredbrain:ryer.org
MATRIX_PASSWORD=change_me
# MATRIX_ACCESS_TOKEN=
MATRIX_MENTION=@sacredbrain
SACRED_BRAIN_URL=http://127.0.0.1:8000/matrix/respond
SACRED_BRAIN_API_KEY=hippo_local_a58b583f7a844f0eb3bc02e58d56f5bd
